<html ng-app="app" ng-csp>
    <head>
        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="styles/main.css">
    </head>
    <body ng-controller="PopupController as vm">
        <p>Active Game</p>
        <ul>
            <li ng-if="vm.activeGame.id" ng-click="vm.toggleGame(vm.activeGame)">
                {{vm.activeGame.team0.name}} ({{vm.activeGame.team0Score}}) : ({{vm.activeGame.team1Score}}) {{vm.activeGame.team1.name}}
                <table class="table" ng-if="vm.activeGame.toggled">
                    <tr><td>BLUE</td><td>TIME</td><td>RED</td></tr>
                    <tr ng-repeat="score in vm.activeGame.scores">
                        <td ng-class="{winner:score.scoringTeam===0}">{{score.team0Score}}</td>
                        <td>{{score.timestamp | date:'mm:ss'}}</td>
                        <td ng-class="{winner:score.scoringTeam===1}">{{score.team1Score}}</td>
                    </tr>
                </table>
            </li>
            <li ng-if="!vm.activeGame.id">No active game!</li>
        </ul>
        <p>Today's Games</p>
        <ul>
            <li ng-repeat="oldGame in vm.todaysGames" ng-click="vm.toggleGame(oldGame)">
                <span ng-class="{winner:oldGame.team0Score>oldGame.team1Score}">{{oldGame.team0.name}} ({{oldGame.team0Score}})</span> : <span ng-class="{winner:oldGame.team1Score>oldGame.team0Score}">({{oldGame.team1Score}}) {{oldGame.team1.name}}</span>
                <table class="table" ng-if="oldGame.toggled">
                    <tr><td>BLUE</td><td>TIME</td><td>RED</td></tr>
                    <tr ng-repeat="score in oldGame.scores">
                        <td ng-class="{winner:score.scoringTeam===0}">{{score.team0Score}}</td>
                        <td>{{score.timestamp | date:'mm:ss'}}</td>
                        <td ng-class="{winner:score.scoringTeam===1}">{{score.team1Score}}</td>
                    </tr>
                </table>
            </li>
            <li ng-if="vm.todaysGames.length === 0">
                No games played yet today!
            </li>
        </ul>
        <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="bower_components/lodash/dist/lodash.min.js"></script>
        <script type="text/javascript" src="bower_components/moment/min/moment.min.js"></script>
        <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
        <script type="text/javascript" src="app/app.js"></script>
        <script type="text/javascript" src="app/services/game.service.js"></script>
        <script type="text/javascript" src="app/services/matchup.service.js"></script>
        <script type="text/javascript" src="app/popup.controller.js"></script>
    </body>
</html>